.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

/* Header styling */

body {
  font-family: 'Tajawal', sans-serif;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: auto auto;
}

main {
  grid-column: 2;
}

header {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #e1eae9;
  height: 8vh;
}

nav {
  background-color: #2196F3;
  grid-column: 1;
  grid-row: 1;
}

.fa-bars:hover {
  background-color: #1976D2;
  cursor: pointer;
}

.fa-bars {
  border-right: 1px solid #e1eae9;
  color: #4f4949;
  font-size: 1.4rem;
  padding: 2% 2% 1% 2%
}

.fa-user-secret {
  color: #4f4949;
  font-size: 1.7em;
  margin: 0;
  padding: 2%;
}

.search {
  border-bottom: 1px solid #e1eae9;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  flex-grow: 2;
  font-size: 1.5em;
  padding: 2% 0 2% 0;
}

.fa-user-secret:hover,
.search:hover {
  opacity: .6;
}

.header-options {
  border-left: 1px solid #e1eae9;
  color: #4f4949;
  font-size: 1.7em;
  padding: 2%;
}

.header-options:hover {
  background-color: #1976D2;
  cursor: pointer;
}

/*Nav Bar styling*/

hr {
  opacity: .5;
}

.portrait-image {
  border-radius: 51%;
  height: 18vh;
  width: 75%;
  text-align: center;
  margin: 10% 0 0 10%;
}

.phoebe {
  text-align: center;
  color: #4f4949;
}

.nav-list {
  color: #4f4949;
  list-style-type: none;
}

.nav-list li {
  padding: 2%;
  font-size: 1.2em;
}

.list-title {

}

.nav-hover:hover {
  color: #757575;
  cursor: pointer;
}

.list-icon {
  padding-right: .7em;
}

.checkbox {
  margin-right: .7em;
  padding:;
}

main {
  grid-column: 2;
}

/*title styling*/

.intro {
  color: #4f4949;
  display: inline-block;
  width: 74%;
}

.title {
  margin: 5% 5% 0 5%;
}

h5 {
  margin: 0 0 0 5%;
}

span {
  color: #AFE0FB;
}

span:hover {
  cursor: pointer;
}

.intro-buttons {
  display: inline-block;
  width: 24%;
}

.intro-buttons button {
  border-radius: 25px;
  padding: 3%;
  margin-right: 5%;
}

/*sections and graph styling*/

table {
  margin: 7% 0 0 5%;
  width: 85%;
  font-size: 1em;
  color: #4f4949;
}

tr {
  text-align: center;
}

.table-sections td {
  padding-bottom: 5%;
  opacity: .6;
}

.table-sections td:hover {
  border-bottom: 2px solid #2C98F0;
  opacity: 1;
}

.data-section{
  background-color: #EDF2F6;
  padding-top: 4vh;
}

.circle-graphs {
  display: inline-block;
  width: 46%;
}

.chart-text {
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.graph-labels {
  display: block;
  background-color: white;
  margin: 3% auto 10% auto;
  text-align: center;
  width: 51%;
  border-radius: 36px;
  padding: 2%;
}

.applicants {
  width: 25%;
}

.bar-graph-section {
  display: inline-block;
  width: 53%;
}

.bar-graph {
  width: 83%;
  height: 18vh;
  margin: 0 6% 0 6%;
}

/*collaps button and job description content*/

.expand-button {
  border-radius: 50%;
  padding: 2% 2% 1% 2%;
  font-size: 1.3em;
}

.button-border {
  display:inline-block;
  opacity: 1;
  width: 46%;
}

.details-and-links {
  display: grid;
  grid-template-columns: 63% 30%;
  grid-column-gap: 1vw;
  justify-content: center;
  margin-top: 5%;
}

.job-description {
  display: inline-block;
  background-color: #BBDEFB;
  padding: .1% 0 .1% 0;
}

.job-description-title {
  background-color: #2196F3;
  padding: 2% 0 2% 2%;
  margin: 0;
}

.edit-button {
  background-color: #BBDEFB;
}

.job-info {
  
}

.job-info td {
  border-bottom: 2px solid black;
  padding: 5% 0 5% 0;
}

.info-key {
  padding-right: 12%;
}

#no-border {
  border: none;
}

.social-media-divs {
  margin: 12% 0 18% 0;
}

.social-media button {
  display: block;
  text-align: left;
  padding: 7%;
  width: 100%;
  margin-bottom: 6%;
}

.social-media button i {
  margin-right: 15%;
}

.social-media-p {
  word-wrap: break-word;
}

.reddit {
  background-color: #2196F3;
}

.tweet {
  background-color: #FF5722;
}

.hire-me {
  background-color: #BCDFFA;
}

.links {
  display: inline;
  background-color: white;
  padding: 7% 0 7% 0;
  width: 80%;
}

.copy {
  display: inline;
  background-color: #2196F3;
  padding: 8% 11% 8% 0;
}

.copy {
  cursor: pointer;
}